.main {
  background-color: black;
  display: grid;
  padding: 5px;
}
h3 {
  color: aliceblue;
}
.md {
  display: grid;
  padding: 5px;
  grid-template-areas:
    "area1 area2 area3"
    "area4 area6 area6"
    "area5 area6 area6";
  grid-template-rows: 50px 50px 50px;
  gap: 5px;
}
.item1 {
  background-color: aqua;
  grid-area: area1;
}
.item2 {
  background-color: rgb(175, 110, 244);
  grid-area: area2;
}
.item3 {
  background-color: rgb(204, 215, 215);
  grid-area: area3;
}
.item4 {
  background-color: pink;
  grid-area: area4;
}
.item5 {
  background-color: yellow;
  grid-area: area5;
}
.item6 {
  background-color: green;
  grid-area: area6;
}
.md-2 {
  display: grid;
  padding: 5px;
  grid-template-areas:
    "a1 a2 a2 a3 a4 a5 a6"
    "a7 a8 a8 a8 a4 a5 a6"
    "a7 a8 a8 a8 a4 a5 a6";
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 30px 40px 50px 10px;
  gap: 5px;
}
.item-1 {
  background-color: rgb(99, 137, 137);
  grid-area: a1;
}
.item-2 {
  background-color: rgb(14, 18, 201);
  grid-area: a2;
}
.item-3 {
  background-color: rgb(204, 215, 215);
  grid-area: a3;
}
.item-4 {
  background-color: rgb(219, 12, 46);
  grid-area: a4;
}
.item-5 {
  background-color: rgb(203, 23, 125);
  grid-area: a5;
}
.item-6 {
  background-color: rgb(17, 228, 17);
  grid-area: a6;
}
.item-7 {
  background-color: rgb(49, 0, 128);
  grid-area: a7;
}
.item-8 {
  background-color: brown;
  grid-area: a8;
}
.md-3 {
  display: grid;
  padding: 5px;
  grid-template-areas:
    "a-1 a-2 a-2 a-3"
    "a-1 a-4 a-5 a-6"
    "a-1 a-7 a-8 a-6";
  grid-template-rows: 50px 50px 50px;
  gap: 5px;
}
.item--1 {
  background-color: rgb(191, 200, 200);
  grid-area: a-1;
}
.item--2 {
  background-color: rgb(175, 110, 244);
  grid-area: a-2;
}
.item--3 {
  background-color: rgb(89, 209, 209);
  grid-area: a-3;
}
.item--4 {
  background-color: rgb(213, 32, 62);
  grid-area: a-4;
}
.item--5 {
  background-color: rgb(179, 179, 124);
  grid-area: a-5;
}
.item--6 {
  background-color: rgb(82, 190, 82);
  grid-area: a-6;
}
.item--7 {
  background-color: rgb(94, 20, 215);
  grid-area: a-7;
}
.item--8 {
  background-color: rgb(26, 211, 205);
  grid-area: a-8;
}
